@media (prefers-color-scheme: dark) {
  :root.dark {
    --base-background-theme: var(--dark-background-theme);
    --base-text-theme: var(--white-text-theme);
    --base-modal-background: var(--red-modal-background);
    --modal-grey: var(--modal-grey-ultra);
    --pagination-transparent-bg: var(--transparent);
    --pagination-border: var(--border-arrow);
    --footer-background: var(--bordo-background);
    --footer-text: var(--text-light-grey);
    --scroll-btn: var(--bg-color-light-grey);
    --yt-modal-btn: var(--bg-color-light-grey);
    --form-mood-selection: var(--modal-grey);
    --form-mood-sbox-shadow:var(--border-radio-shadow);
    }
}

@media (prefers-color-scheme: light) {
  :root.dark {
    --base-background-theme: var(--dark-background-theme);
    --base-text-theme: var(--white-text-theme);
    --base-modal-background: var(--red-modal-background);
    --modal-grey: var(--modal-grey-ultra);
    --pagination-transparent-bg: var(--transparent);
    --pagination-border: var(--border-arrow);
    --footer-background: var(--bordo-background);
    --footer-text: var(--text-light-grey);
    --scroll-btn: var(--bg-color-light-grey);
    --yt-modal-btn: var(--bg-color-light-grey);
    --form-mood-selection: var(--modal-grey);
    --form-mood-sbox-shadow: var(--border-radio-shadow);
     }
}
