@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Ubuntu-Regular';
  src: local('Ubuntu-Regular'),
    url('@/assets/fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: local('Ubuntu-Bold'),
    url('@/assets/fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Linearicons-Free';
  src: local('Linearicons-Free'),
    url('@/assets/fonts/WebFont/Linearicons-Free.ttf') format('truetype');
}
